
.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
   width : 150px;
}

.nav-items ul{
   display: flex;
   gap:20px;
   list-style-type:none;
   padding:20px;
   font-size: 20px;
}
.Resto-Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
